body {
  box-sizing: border-box;
  padding-top: 36px;
  padding-left: 156px;
  font-family: Montserrat;
}
.form {
  width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
input {
  width: 96%;
  height: 20px;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  border: none;
  height: 50px;
}
button:hover {
  background: #6c8cff;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
